body {
    background-color: #F7F6CF;
    padding: 0px;
    margin: 0px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    background: url(assets/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
}


h1 {
    padding: 0px;
    margin: 0px;
    font-family: 'Chewy', cursive;
    font-weight: normal;
    font-size: 60px;
    color: #d3739d;
    text-shadow: rgba(255, 255, 255, 0.4) 5px 5px, rgba(145, 63, 99, 0.3) 10px 10px, rgba(145, 63, 99, 0.2) 15px 15px, rgba(145, 63, 99, 0.1) 20px 20px, rgba(145, 63, 99, 0.05) 25px 25px;
}

.app {
    width: 1400px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #e8d5cc;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 30px;
}

.app-aside {
width: 350px;
text-align: center;
}

.app-main {
width: 700px;
}

.app-header {
    height: 19px;
    width: 1400px;
    position: absolute;
    margin-top: 41px;
    margin-left: 250px;
}

.chatACliquer1 {
    cursor: pointer;
    z-index: 1300;
    position: relative;
}

.affichage {
    font-family: 'Neucha', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #f8ad9d;
}

.affichageScore {
    font-family: 'Neucha', cursive;
    font-weight: normal;
    font-size: 60px;
    text-align: left;
    color: #f8ad9d;
}

.clicPlusUnImage {
    width: 24px;
    position: absolute;
    margin-left: 67px;
    margin-top: 12px;
    z-index: 3000;
    opacity: 0;
}

h3 {
    font-family: 'Caveat Brush', cursive;
    font-weight: normal;
    font-size: 34px;
    color: #ccaea4;
}

.clicAnimPlusUn {
    animation: clicAnimPlusUn 0.2s linear ;
}

@keyframes clicAnimPlusUn {
    0% {
        width: 24px;
        margin-top: 12px;
        margin-left: 90px;
        opacity: 0;
    }

    30% {
        width: 32px;
        margin-top: -12px;
        margin-left: 90px;
        opacity: 0.5;
    }

    50% {
        width: 40px;
        margin-top: -24px;
        margin-left: 90px;
        opacity: 1;
    }

    80% {
        width: 32px;
        margin-top: -12px;
        margin-left: 90px;
        opacity: 0.5;
    }
    100% {
        width: 24px;
        margin-top: 12px;
        margin-left: 90px;
        opacity: 0;
    }
}


.main-building1 {
    background: url(assets/pattoune-bm.png);
}

.main-building2 {
    background: url(assets/souris-bm.png);
}

.main-building3 {
    background: url(assets/herbeachats-bm.png);
}

.main-building4 {
    background: url(assets/milk-bm.png);
}

.main-building5 {
    background: url(assets/laser-bm.png);
}

.main-building6 {
    background: url(assets/autel-bm.png);
}

.main-building7 {
    background: url(assets/lolcat-bm.png);
}

.main-building8 {
    background: url(assets/campagne-bm.png);
}

.main-building9 {
    background: url(assets/robot-bm.png);
}

.main-building10 {
    background: url(assets/clonage-bm.png);
}


.main-building-style {
    width: 596px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 26px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 130px;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    color: #b18f86;
    height: 100px;
}

.main-building-style span {
    font-size: 26px;
    font-weight: bold;
}

.main-building-style p {
    padding: 0px;
    margin: 0px;
    line-height: 1;
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
}

.buildings-panel div {
    cursor: pointer;
}


.superPattouneBonus {
    display: none;
    cursor: pointer;
}

.building1 {
    width: 266px;
    height: 102px;
    margin-left: auto;
    margin-right: auto;
    background: url(assets/pattoune-bg.png);
}

.building2 {
    width: 266px;
    height: 102px;
    margin-left: auto;
    margin-right: auto;
    background: url(assets/souris-bg.png);
}

.building3 {
    width: 266px;
    height: 102px;
    margin-left: auto;
    margin-right: auto;
    background: url(assets/herbeachats-bg.png);
}

.building4 {
    width: 266px;
    height: 102px;
    margin-left: auto;
    margin-right: auto;
    background: url(assets/milk-bg.png);
}

.building5 {
    width: 266px;
    height: 102px;
    margin-left: auto;
    margin-right: auto;
    background: url(assets/laser-bg.png);
}

.building6 {
    width: 266px;
    height: 102px;
    margin-left: auto;
    margin-right: auto;
    background: url(assets/autel-bg.png);
}

.building7 {
    width: 266px;
    height: 102px;
    margin-left: auto;
    margin-right: auto;
    background: url(assets/lolcat-bg.png);
}

.building8 {
    width: 266px;
    height: 102px;
    margin-left: auto;
    margin-right: auto;
    background: url(assets/campagne-bg.png);
}

.building9 {
    width: 266px;
    height: 102px;
    margin-left: auto;
    margin-right: auto;
    background: url(assets/robot-bg.png);
}

.building10 {
    width: 266px;
    height: 102px;
    margin-left: auto;
    margin-right: auto;
    background: url(assets/clonage-bg.png);
}

.prix {
    font-family: 'Neucha', cursive;
    font-size: 26px;
    color: #b39188;
    position: absolute;
    padding-left: 120px;
    margin-top: 58px;
}

.titre-bonus {
    font-family: 'Caveat Brush', cursive;
    font-size: 20px;
    color: #b39188;
    position: absolute;
    display: flex;
margin-left: 90px;
margin-top: 10px;
}

.building-hover {
    width: 321px;
    height: 203px;
    background: url(assets/back-hover-building.png);
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: -330px;
    padding-right: 60px;
    padding-left: 30px;
    font-family: 'Caveat Brush', cursive;
font-size: 20px;
color: #b39188;
display: none;
z-index: 3000;
}

.building-hover span {
    font-size: 16px;
    font-family: 'Neucha', cursive;
}


.building1:hover .building-hover {
	display:flex;
}

.building2:hover .building-hover {
	display:flex;
}

.building3:hover .building-hover {
	display:flex;
}

.building4:hover .building-hover {
	display:flex;
}

.building5:hover .building-hover {
	display:flex;
}

.building6:hover .building-hover {
	display:flex;
}

.building7:hover .building-hover {
	display:flex;
}

.building8:hover .building-hover {
	display:flex;
}

.building9:hover .building-hover {
	display:flex;
}

.building10:hover .building-hover {
	display:flex;
}

.main-header {
    margin-left: auto;
    margin-right: auto;
    background: url(assets/banner.png);
    height: 107px;
    width: 596px;
    padding-top: 30px;
    font-family: 'Caveat Brush', cursive;
    color: #eee3de;
    font-size: 20px;
    line-height: 1;
    text-align: center;
}

.main-header span, .main-header p {
    line-height: 1;
    padding: 0px;
    margin: 0px;
    display: block;
    text-align: center;
}

.main-header p {
    font-size: 30px;
}

.infosbonus {
    font-family: 'Neucha', cursive;
    font-size: 18px;
    color: #b39188;
    position: absolute;
    padding-left: 90px;
    margin-top: 36px;   
}
